@page
@model MySiteModel
@{
    ViewData["Title"] = "Min side";
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTrainingSession">
    Legg til 
</button>

<hr>

<!-- Modal -->
<div class="modal fade" id="newTrainingSession" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ny treningsession</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form method="post">

            <div class="form-group">
                <label asp-for="NewTrainingSession.Title"></label>
                <input asp-for="NewTrainingSession.Title" class="form-control" />
                <span asp-validation-for="NewTrainingSession.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewTrainingSession.DueDate"></label>
                <input asp-for="NewTrainingSession.DueDate" type="date" class="form-control" />
                <span asp-validation-for="NewTrainingSession.DueDate" class="text-danger"></span>
            </div>

            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Lukk</button>
               <button asp-page-handler="Save" type="submit" class="btn btn-primary">Lagre</button>
            </div>

        </form>

      </div>
    </div>
  </div>
</div>


@foreach (var session in Model.TrainingSessions)
{
    <div class="card mb-3">
      <h5 class="card-header">@session.DueDate</h5>
      <div class="card-body">
        <h5 class="card-title">@session.Title</h5>
        <p class="card-text">Description can go here</p>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#id@(session.TrainingSessionId)">
            Oppdater
        </button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="id@(session.TrainingSessionId)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Ny treningsession</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form method="post">

                <input name="@nameof(session.TrainingSessionId)" asp-for="@session.TrainingSessionId" value="@session.TrainingSessionId" type="hidden">

                <div class="form-group">
                    <label asp-for="@session.Title"></label>
                    <input asp-for="@session.Title" class="form-control"/>
                    <span asp-validation-for="@session.Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@session.DueDate"></label>
                    <input asp-for="@session.DueDate" type="date" class="form-control" />
                    <span asp-validation-for="@session.DueDate" class="text-danger"></span>
                </div>

                <div class="modal-footer">
                   <button asp-page-handler="Delete" type="submit" class="btn btn-danger">Slett</button>
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Lukk</button>
                   <button asp-page-handler="Update" type="submit" class="btn btn-primary">Oppdater</button>
                </div>

            </form>

          </div>
        </div>
      </div>
    </div>
}
